﻿@model AAR.Models.PartListViewModel
@{
    ViewBag.Title = "Your Parts";
}


<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-md-12">
        <table class="part-table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>Part Number</th>
                    <th>Part Description</th>
                    <th>Part Management</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var part in Model.Parts ?? new List<AAR.Models.Part>())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => part.PartNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => part.PartDescription)
                        </td>
                        <td>
                            <a href="#"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               data-delay='{"show":"1000"}'
                               title="remove part"><span ti class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            @Html.ActionLink("View", "../Components/Index", new { id = part.PartID })
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <a href="/Part/Create"
                           data-toggle="tooltip"
                           data-placement="right"
                           data-delay='{"show":"1000"}'
                           title="add part information to your account">
                            <span class="glyphicon glyphicon-plus">
                            </span>Part
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>