﻿@model AAR.Models.Component

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Component</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComponentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierPartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierPartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComponentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
