﻿@model IEnumerable<AAR.Models.Component>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComponentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComponentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierPartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComponentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComponentDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierPartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComponentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComponentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComponentID })
        </td>
    </tr>
}

</table>

<div style="padding:10px; border: 1px solid black">
    <div><a href="@Url.Action("Report", new {reportType = "PDF"} )">Get PDF Report</a></div>
    <div><a href="@Url.Action("Report", new {reportType = "Excel"} )">Get Excel Report</a></div>
    <div><a href="@Url.Action("Report", new {reportType = "Word"} )">Get Word Report</a></div>
    <div><a href="@Url.Action("Report", new {reportType = "Image"} )">Get Image Report</a></div>
</div>
