﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>PartTrackr is a project commissioned by Foresite to a group of five Arizona State University computer science capstone students.  
    It is estimated to be completed by Spring of 2015.</p>
<h4>Members</h4>
<ul>
    <li>Grant Marshall</li>
    <li>Mark Karlsrud</li>
    <li>Dan Howe</li>
    <li>Daniel Chaides</li>
    <li>Chris Hays</li>
</ul>

<p><a class="btn btn-default" href="http://theallamericanregex.bitbucket.org/">More PartTrackr info &raquo;</a></p>
<p><a class="btn btn-default" href="http://www.foresitecloud.com/">About Foresite &raquo;</a></p>