﻿@{
    ViewBag.Title = "Home Page";
}

<center>
    <img src="~/Pictures/parttrackr-logo.png" style="width:25%" />
</center>

<div class="jumbotron">
    <img src="/Pictures/logo.png" class="rotate" style="width: 200px;float: right;">
    <h1>PartTrackr</h1>
    <p class="lead">Welcome to Foresite's Global Environmental Management System (GEMS) for small and medium-sized enterprises (SME).  PartTrackr is a web-based compliance tool system with a single data load model for individual products.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Get started by registering an account!</p>
        <p><br /><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View My Parts</h2>
        <p>If you are logged in, you can view the parts you have created.</p>
        <p><a class="btn btn-default" href="/Part/">My parts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add a Part</h2>
        <p>Add a part and upload part info to PartTrackr.</p>
        <p><br /><a class="btn btn-default" href="/Part/Create">Add part &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stripe</h2>
        <p>Test Stripe.</p>
        <p><br /><a class="btn btn-default" href="/Stripe/Charge">Stripe &raquo;</a></p>
    </div>
</div>